<div class="sidebar-overlay" id="sidebarOverlay"></div>

<div class="sidebar" id="sidebar">

    <div class="sidebar-header">

        <img id="sidebarPhoto"
             src="../IMAGES/default-profile.png"
             alt="Profile">

        <h2 id="sidebarName">Creator Name</h2>

        <p>Creator Nepal Member</p>

    </div>

    <ul>

        <li>
            <a href="creator-dashboard.html">
                Dashboard
            </a>
        </li>

        <li>
            <a href="edit-profile.html">
                Edit Profile
            </a>
        </li>

        <li>
            <a href="portfolio.html">
                Portfolio
            </a>
        </li>

        <li>
            <a href="settings.html">
                Settings
            </a>
        </li>

        <li>
            <a href="logout.html">
                Logout
            </a>
        </li>

    </ul>

</div>